terratowns_endpoint="https://terratowns.cloud/api"
bucket_name="t3wjw03xjkw8v7egzqidio9gjjytrzkt"
index_html_filepath="/workspace/terraform-beginner-bootcamp-2023/public/index.html"
error_html_filepath="/workspace/terraform-beginner-bootcamp-2023/public/error.html"
assets_directory="/workspace/terraform-beginner-bootcamp-2023/public/assets"
content_version=1